*{
	box-sizing: border-box;
}
.text{
	font-family: sans-serif;
	font-weight: bold;
}

.artist{
	font-size: 3em;
	position: relative;
	top: 10px;
	right: 10px;
}

.author{
	font-size: 2em;
	position: relative;
	top: 1000px;
	right: 10px;
}

section div{
	background-color: black;
	max-width: 600px;
	height: 150px;
	margin: 0 auto;
/*	transform: rotate(-45deg);*/
}

.red{
	background-color: red;
	width: 400px;
	height: 70px;
	display: inline-block;
	position: relative;
	left: 400px;
	overflow: hidden;
	animation: left 1s linear 0.2s infinite normal;
}

.middle{
	position: relative;
/*	left: 450px;*/
}

section div:nth-child(3n) {
	background-color: yellow;
	width: 400px;
	height: 70px;
	display: inline-block;
	position: relative;
	left: 500px;
	animation: right 1s linear 0.2s infinite normal;
}

#yellow{
	position: relative;
	left: 550px;
}

@media screen and (max-width: 1000px){

}

@keyframes left{
	0%{
		left: 0%;
	}
	100%{
		left: 25%;
	}
}

@keyframes right{
		0%{
		left: 25%;
	}
	100%{
		left: 50%;
	}
}

