@import url('https://fonts.googleapis.com/css?family=Muli:300');

*{box-sizing: border-box; font-family: 'Muli', sans-serif;}

body{background-color: #f4f4f4;}

/*HEADER*/

#header{
	width: 100%;
	height: 20%;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 10;
}

header{
	width: 100%;
	text-align: center;
	padding-top: 2%;
	margin: 0 auto;
	color: white;
	text-transform: uppercase;
	font-size: 3.5em;
	font-weight: bold;
}

#category{
	width: 100%;
	height: 9%;
	background-color: black;
	margin: 0% 18%;
}

#category button{
	color: white;
	display: inline-block;
	width: 20%;/*
	height: 50%;*/
	font-family: sans-serif;
	text-align: center;
	padding: 2%;
	font-size: 1em;
	background-color: black;
	border: 0 black solid;
	cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px #d8d8d8 solid;
    min-width: 11%;
    z-index: 1;
    margin-left: 4%;
    font-size: .9em;
}

#myDropdownTwo{
	margin-left: 25%;
}

#myDropdownThree{
	margin-left: 45%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3d3d3d;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

button{
    font-size: 1em;
	font-family: 'Muli' !important;
}

button:hover{
	background-color: #474747;
}

/*BODY*/

#container{
	margin: 0% 20% 0% 20%;
	background-color: white;
	padding-top: 20vh;
}

#pictures, #body{
	display: inline-block;
	margin: 0 auto;
	height: 100%;
}

#pictures{
	width: 59%;
}

#body{
	padding: 2% 0%;
	width: 39%;
}

.preview img{
	width: 20%;
	height: 100%;
	float: left;
	padding: 2% 0% 0% 3%;
	clear: left;
}

.image img{
	width: 75%;
	padding: 2% 0% 2% 2%;
}

.cursor{
	cursor: pointer;
}

.demo{
	opacity: 0.6;
}

.demo:hover{
	opacity: 1;
}

.mySlides {
  display: none;
}

.bag{
	color: white;
	background-color: black;
	width: 50%;
	text-align: center;
	padding: 2%;
	cursor: pointer;
}

.text{line-height: 4em;}

.description{line-height: 2em; font-size: .9em;}

.stars{width: 15%;}

.button {
 cursor:pointer;
 background:black;
 color:white;
 width:30px;
 height:30px; 
 text-align:center; 
 display:inline-block;
 position: relative;
 top: 3px;
 line-height: 2em;
}

.button:hover {background:#474747;}

.textbox{height: 29px;}

/*OTHER PAGES*/

.content{
	padding: 5% 5% 0% 5%;
}

.para{
	padding-bottom: 9%;
}

.contact-link{
	color: red;
}

.social-media{
	height: 200px;
	width: 100%;
	padding: 0% 5% 10% 5%;
}

.social-media div{
	height: 75%;
	display: inline-block;
}

.social-media img{
	height: 100%;
}

.line p{
	line-height: 2.5em;
}

.ad2, .ad3{
	display: inline-block;
	width: 48%;
}

#ads img{
	width: 100%;
}

#long-ads{
	margin: 10% 5% 2% 5%;
}

/*BOTTOM*/
#recs{
	margin: 0% 20% 0% 20%;
	display: inline-block;
	background-color: white;
	padding-bottom: 5%;
}

#recs img{
	width: 100%;
}

#recs h2{
	padding: 5% 2% 2% 10%;
}

.prod{
	display: inline-block;
	width: 20%;
	height: 100%;
	position: relative;
	left: 10%;
}

.prod div{
	text-align: center;
}

a{
	color: black;
	text-decoration: none;
}

#items{
	margin: 0 auto;
	height: 10%;
}

/*FOOTER*/

#footer{
	width: 100%;
	background-color: black;
	height: 20%;
	margin: 0 auto;
}


#footer div{
	color: white;
	display: inline-block;
	width: 33%;
	text-align: center;
	padding: 2%;
	font-size: 1em;
}

#footer a{
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 1200px){
	/*#header{
		height: 10%;
	}*/

	#container, #recs{
		margin: 0% 10%;
	}

	#pictures, #body{
		display: block;
	}

	#pictures{
		width: 80%;
		margin: 0 auto;
	}

	#body{
		width: 80%;
		margin: 0 auto;
		padding: 0 5%;
	}

	.preview img{
		width: 25%;
	}

	.image img{
		width: 70%;
	}
/*
	#products span{
		margin: 2% 8.5%;;
	}*/
}
