*{
	box-sizing: border-box;
}

body{
	min-width: 900px;
}

h1{
	color: lightgrey;
	font-size: 5em;
	margin: 0 auto;
	text-align: center;
	margin-top: 40vh;
	position: fixed;
	left: 30%;
	right: 30%;
	z-index: 10;
	cursor: pointer;
}

#dates h3{
	color: white;
	cursor: pointer;
	margin-left: 20%;
}

#dates div{
	display: inline-block;
	position: relative;
	width: 11%;
	height: 100%;
	z-index: 0;
}

#dates img{
	margin: 0 auto;
	width: 15em;
	padding: 0% 5%;
}

#saturday{top: 100vh;}

#tuesday{top: 30em;}

#friday{top: 70em;}

#wednesday{top: 15em;}

#sunday{top: 30em;}

#saturday1{top: 10em;}

#friday1{top: 45em;}

#monday{top: 90vh;}

.hidden{
	visibility: hidden;
}

p{
	color: white;
	font-size: 1.2em;
	width: 30%;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 5%;
	text-align: center;
}

.home{
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 10vh;
}

.home:visited{
	text-decoration: none;
}

.nullpic img, .tuesdaypic img, .wednesdaypic img, .thursdaypic img, .fridaypic img, .saturdaypic img{
	margin-left: 43%;
	margin-right: 43%;
	width: 15em;
	cursor: pointer;
}

.null, .tuesdaydiary, .wednesdaydiary, .thursdaydiary, .fridaydiary, .saturdaydiary{
	padding-top: 5%;
}

.white{
	background-color: white;
}

.grey{
	background-color: lightgrey;
}

.one, .two, .three, .four{
	display: inline;
}

.two{
	position: fixed;
	width: 20%;
	z-index: 20;
	top: 15em;
	left: 80em;
}

.one{
	animation: move 3.5s linear 0.2s infinite alternate;
	z-index: 2;
	position: relative;
}

.four{
	position: absolute;
	animation: rotate 2s linear 0.2s infinite alternate;
	width: 100vh;
}

@keyframes move {
	0%  {
		left: 5vh;
	}
	50% {
		left: 30vh;
	}
	100%{
 		left: 60vh;
 	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
