@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

h1{
	font-size: 3em;
	color: white;
	position: fixed;
	width: 100%;
	background-color: teal;
	margin: 0 auto;
	padding: 2%;
	z-index: 10;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
}

#pasta1, #pasta2, #pasta3{
	margin: 0 auto;
	display: block;
	max-height: 500px;
	z-index: 5
}

.picture1, .picture2, .picture3{
	margin: 0 auto;
	max-width: 1500px;
	max-height: 500px;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.picture1{
	top: 200px;
	background-image: url(https://www.budgetbytes.com/wp-content/uploads/2017/07/Kale-Pesto-Pasta-close.jpg);
}

.picture2{
	background-image: url(https://www.joyofkosher.com/.image/t_share/MTMxNzYzODIxNTIwODkwNDk5/pesto-pasta.jpg);
    margin-top: 10%;
}

.picture3{
	background-image: url(http://www.simplesweetsavory.com/wp-content/uploads/2016/01/Chicken-Green-Veggie-Pesto-Pasta-wide-side.jpg);
    margin-top: 10%;
}

img{
	visibility: hidden;
}

.caption1, .caption2, .caption3{
	font-size: 2em;
	text-align: center;
	background-color: lightgrey;
	margin-right: 5%;
	margin-left: 5%;
	padding: 2%;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

#button{
	text-align: center;
	color: white;
	font-size: 5em;
	background-color: teal;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: fixed;
	top: 85%;
	left: 90%;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}