@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

h1{
	font-size: 5em;
	color: darkgrey;
	position: fixed;
	top: 0;
	width: 100%;
	height: 30%;
	background-color: teal;
	margin: 0 auto;
	padding: 9% 5% 0% 3%;
	z-index: 10;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.4);
	border: .5px solid teal;
}

#design1, #design2, #design3{
	margin: 0 auto;
	display: block;
	max-height: 1000px;
	z-index: 5
}

.picture1, .picture2, .picture3{
	margin: 0 auto;
	width: 70%;
	max-height: 500px;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.picture1{
	background-image: url(https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bx4BSt6jniD7UXpQYWltVjNPWXc/whatismaterial-environment-3d.png);
    margin-top: 17%;
}

.picture2{
	margin-top:2%;
	background-image: url(https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3VG9SaVpNbkpHb2s/whatismaterial-3d-elevation2.png)
}

.picture3{
	background-image: url(https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3d0FBTnJBVVNoeEE/accessibility-hierarchy-1-do.png);
    margin-top: 2%;
}

img{
	visibility: hidden;
}

.caption1, .caption2, .caption3{
	width: 70%;
	font-size: 2em;
	text-align: justify;
	background-color: darkgrey;
	margin: 0 auto;
	padding: 2%;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
	overflow: scroll;
	border: .5px solid darkgrey;
}

#button{
	text-align: center;
	color: white;
	font-size: 5em;
	background-color: teal;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: fixed;
	top: 85%;
	left: 90%;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3);
	border: .5px solid darkgrey;
}